*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    background-color:rgb(15, 19, 20);
    background-repeat: no-repeat;      

}

.body_text{
    margin-left: 40px;
}

nav{
    background: rgb(60, 75, 60);
    text-align: center;
}

nav ul li{
    display: inline-block;
    width: 130px;
    padding: 10px;
    margin: 10px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

nav ul a:hover{
    background: #326424;
    border-radius: 5px;
}

.active_page{
    color: burlywood;
}

.sub_menu_1{
    display: none;
}


nav ul li:hover .sub_menu_1{
    display: block;
    position: absolute;
    background: rgb(88, 97, 88);
    margin-top: 15px;
    margin-left: -15px;
    
}

nav ul li:hover .sub_menu_1 ul li{
    display: block;
    margin: 10px;
    text-align: left;
    border-bottom: 1px dotted #fff;
    border-radius: 0px;
    background: transparent;
}

nav ul li:hover .sub_menu_1 ul li a:hover{
    color: #2bd;
}
.logo{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
}

.picture1{
    margin-top: 40px;
    margin-left: 40px;
    
}

.picture2{
    margin-top: 40px;
    margin-left: 20px;
    top: 115px;
    left: 340px;
    position: absolute;
}

.video1{
    margin-top: 40px;
    margin-left: 40px;
}

.line1{
    color: rgb(243, 242, 237);
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-left: 600px;
    margin-right: 40px;
    top: 120px;
    position: absolute;
    left: 200px;
}

.line1 h1{
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgb(223, 166, 209);
}

.line2{
    color: rgb(243, 242, 237);
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-left: 600px;
    margin-right: 40px;
    bottom: -120px;
    position: absolute;
    left: 200px;
}

.line2 h1{
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgb(223, 166, 209);
}

.ban{
    cursor: pointer;

}


.menu_bars{
    background: rgb(24, 6, 6);
    display: block;
    height:2px;
    position: relative;
    width: 18px;
    left: 200px;
}

.menu_bars::before, .menu_bars::after{
    background: rgb(24, 6, 6);
    content:"";
    display: block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.menu_bars::before{
    top: 5px;
}

.menu_bars::after{
    top:-5px;
}

.picture3 img{
    width: 200px;
    margin: 7px;
    margin-top: 40px;
       
}
.picture3{
    margin-left: 20px;
}

.picture4 img{
    width: 200px;
    margin: 7px;
    margin-top: 10px;
       
}
.picture4{
    margin-left: 20px;
}

.gallery{
    color: rgb(243, 242, 237);
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-left: 600px;
    margin-right: 40px;
    bottom: 120px;
    position: absolute;
    left: 200px;

}

.gallery h1{
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgb(223, 166, 209);
}

.picture5 img{
    width: 91%;
    margin-left: 60px;
    right: 20px;
    height: 220px;
    
}

.picture6 img{
    margin-top: 80px;
    margin-left: 60px;
    height: 300px;
    
}

.picture7{
    margin-top: 40px;
    margin-left: 40px;

}
.picture7 img{
    width: 40%;
    
    
}
.video2{
    margin-top: 30px;
    margin-left: 40px;
}
.video2 video{
    width: 33rem;
    
    }
  


.picture8 img{
    width: 40%;
    height: 300px;
}

.video_page{
    color: rgb(243, 242, 237);
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-left: 500px;
    margin-right: 40px;
    top: 200px;
    position: absolute;
    left: 200px;

}

.video_page h1{
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgb(223, 166, 209);
}

.calender1 {
    margin-top: 80px;
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;

}

.month{
    font-size: 30px;
    color:#fff;
    width: 30%;
    border: 2px solid;
    text-align: center;
    background: #1c4e0f;
    padding: 1px;
}

table, th, td{
    width: 30%;
    table-layout: fixed;
    color: #fff;
    border: 1px solid;
    text-align: center;

}

td{
    color:#080f06;
    background: #edecf0;
}
    
table, th{
    width: 30%;
    table-layout: fixed;
}

th{
    background: rgb(20, 25, 26);
    color: #fff;

}

tr, th, td{
    padding: 4px;
}

td:hover{
    background:#1c4e0f; 
    cursor: pointer;

}
.picture9{
    margin-left: 80px;
    margin-top: 40px;
}
.picture9 img{
    width: 40%;
}
.appointment_button{
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 25px;
    padding: 10px ;
    margin-left: 40px;
    top: 400px;
    left: 900px;
    position: absolute;
    box-shadow: 2px 2px;
}

.form_container{
    box-shadow: rgb(20, 25, 26);
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 40px;
    letter-spacing: 1px;
    
}
form{
    margin-top: 20px;
    display: grid;
}
form{
    font-weight: 500;
}
input, select{
    pad: 10px 15px;
}
.form_field{
    display:flex;
    padding: 20px;
    justify-content: space-between;
    
}
.form_field p{
    color: #fff;

       }
.form_container form h2{
    margin-left: 80px;
    color:#f1eaf3;
}
.btn{
    text-decoration: none;
    color: rgb(252, 245, 245);
    background-color: rgb(140, 31, 190);
    border-radius: 25px;
    padding: 10px ;
    box-shadow: 1px 1px;
}
.picture10{
    margin-top: 80px;
    margin-left: 40px;

}
.picture10 img{
    width: 40%;
    
    
}
.location_page{
    color: rgb(243, 242, 237);
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-left: 500px;
    margin-right: 40px;
    bottom: 60px;
    position: absolute;
    left: 200px;

}
.location_page h1{
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgb(223, 166, 209);
}
.privacy{
    color: #fff;
    margin-top:300px;
    text-align: center;
    bottom: -200px;
    position: absolute;

}
.zip_code{
    box-shadow: rgb(20, 25, 26);
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 40px;
    letter-spacing: 1px;
    
}

input, select{
    pad: 10px 15px;
}
.form_field2{
    display:flex;
    padding: 20px;
    
 }
 form h2{
    color: #fff;
 }
 .form_field2 p{
    color: #fff;
 }
.btn2{
    text-decoration: none;
    color: rgb(252, 245, 245);
    background-color: rgb(39, 27, 209);
    border-radius: 15px;
    padding: 10px ;
    box-shadow: 1px 1px;
}
.picture11{
    margin-left: 40px;
    margin-top: 80px;
    
}

.about_us{
    color: rgb(243, 242, 237);
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: justify;
    align-content: center;
    margin-left: 600px;
    margin-right: 40px;
    bottom: 40px;
    position: absolute;
    left: 200px;

}
.about_us h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgb(223, 166, 209);
      }
.call_us{
    margin-left: 40px;
    margin-top: 40px;
    color: #fff;
}
.call_us1{
    margin-left: 40px;
    margin-top: 40px;
    color: #fff;
}
.call_us h2{
    color: rgb(136, 66, 228);
}
.call_us1 h2{
    color: rgb(136, 66, 228);
}
.picture12{
    margin-top: 80px;
    margin-left: 40px;

}
.picture12 img{
    width: 40%;

}
.contact_page{
    color: rgb(243, 242, 237);
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-left: 500px;
    margin-right: 40px;
    bottom: 60px;
    position: absolute;
    left: 200px;

}
.contact_page h1{
    color: rgb(136, 66, 228);
    text-decoration: underline;
    text-decoration-style:dotted;
    text-decoration-color: rgb(223, 166, 209);

}
.sib {
    margin-left: 500px;
    margin-right: 100px;
    top: 80px;
    position: absolute;
    left: 200px;
    
    
    
}

footer{
    color: #fff;
    margin-top:300px;
    text-align: center;

}

.bok{
    color: #fff;
    margin-top:300px;
    text-align: center;

}

#footer2{
    color: #fff;
    margin-top:300px;
    text-align: center;
    

}
#footer3{
    color: #fff;

}

figcaption{
    color: #fff;
}